


/*cv*/
@import url("https://fonts.googleapis.com/css2?family=Calligraffitti&family=Open+Sans:wght@400;700&display=swap");

:root {
    
    --white: #fff;
    --rleft-bg: #f5a475;
    --rright-bg: #f07a36;
    --primary-text-clr: #525252;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    
        
}

body {
    background: var(--bg-clr);
    font-size: 12px;
    line-height: 20px;
    color: var(--primary-text-clr);
    padding: 0 20px;
    
}

h2 {
    font-family: "Calligraffitti", cursive;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 20px;
    
}

.resume {
    width: 800px;
    max-width: 100%;
    height: auto;
    display: flex;
    margin: 50px auto;
    background: var(--white);
    
}

.resume .resume_left {
    width: 270px;
}

.resume .resume_right {
    background: var(--rright-bg);
    width: calc(800px - 270px);
}

.resume_left .r_profile_pic,
.resume_right .r_namerole {
    width: 100%;
    height: 260px;
    padding: 35px;
}

.resume_left .r_profile_pic {
    background: var(--rleft-bg);
}

.resume_left .r_profile_pic img {
    width: 100%;
    border-radius: 100%;
    padding: 0px;
    padding-left: 30px;
        padding-right: 30px;
       
        padding-top: 0px;

}

.resume_left .r_left_sub {
    padding: 35px;
}

.resume_left .r_left_sub>div:not(:last-child),
.resume_right .r_right_sub>div:not(:last-child) {
    margin-bottom: 35px;
}

.resume_left .r_aboutme p {
    text-align: center;
}

.resume_left .r_skills ul li,
.resume_left .r_skills ul li p:first-child,
.resume_left .r_hobbies ul li p:first-child {
    display: flex;
    align-items: center;
}

.resume_left .r_skills ul li:not(:last-child) {
    margin-bottom: 10px;
}

.resume_left .r_skills ul li p:first-child,
.resume_left .r_hobbies ul li p:first-child {
    width: 45px;
    height: 45px;
    background: var(--rleft-bg);
    margin-right: 15px;
    border-radius: 50%;
    justify-content: center;
    font-size: 14px;
    color: var(--white);
}

.resume_left .r_hobbies ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.resume_left .r_hobbies ul li {
    margin-bottom: 10px;
}

.resume_left .r_hobbies ul li p:hover {
    background: var(--rright-bg);
}

.resume_right .r_namerole p {
    font-family: "Calligraffitti", cursive;
    font-size: 60px;
    line-height: 80px;
    text-align: center;
}

.resume_right .r_namerole p:last-child {
    font-size: 18px;
    line-height: 24px;
    color: var(--white);
}

.resume_right .r_info {
    padding: 35px;
    background: var(--white);
}

.resume_right .r_info ul {
    display: flex;
    justify-content: space-between;
}

.resume_right .r_info p {
    font-weight: 700;
    font-size: 18px;
}

.resume_right .r_right_sub {
    padding: 35px;
    padding-bottom: 0;
}

.resume_right .r_right_sub p {
    color: var(--white);
}

.resume_right .r_right_sub ul li {
    display: flex;
    margin-bottom: 20px;
}

.resume_right .r_right_sub ul li div:first-child {
    width: 25%;
    margin-right: 15px;
}

.resume_right .r_right_sub ul li div:last-child {
    width: 75%;
}

.resume_right .r_right_sub p:first-child {
    font-size: 18px;
    margin-bottom: 5px;
}
/*nav bar*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    font-family: 'Oswald', sans-serif;

}

.wrapper {
    position: fixed;
    top: 0;
    /*left: -100%;*/
    right: -100%;
    height: 100%;
    width: 100%;
    background: #000000;
    /*background: linear-gradient(90deg, #f92c78, #4114a1);*/
    /* background: linear-gradient(375deg, #1cc7d0, #2ede98); */
    /* background: linear-gradient(-45deg, #e3eefe 0%, #efddfb 100%);*/
    transition: all 0.6s ease-in-out;
}

#active:checked~.wrapper {
    /*left: 0;*/
    right: 0;
}

.menu-btn {
    position: absolute;
    z-index: 2;
    right: 20px;
    /*left: 20px; */
    top: 20px;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    font-size: 20px;
    cursor: pointer;
    /*color: #fff;*/
    /*background: linear-gradient(90deg, #f92c78, #4114a1);*/
    /* background: linear-gradient(375deg, #1cc7d0, #2ede98); */
    /* background: linear-gradient(-45deg, #e3eefe 0%, #efddfb 100%); */
    transition: all 0.3s ease-in-out;

}

.menu-btn span,
.menu-btn:before,
.menu-btn:after {
    content: "";
    position: absolute;
    top: calc(50% - 1px);
    left: 30%;
    width: 40%;
    border-bottom: 2px solid #ffffff;
    transition: transform .6s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.menu-btn:before {
    transform: translateY(-8px);
}

.menu-btn:after {
    transform: translateY(8px);
}


.close {
    z-index: 1;
    width: 100%;
    height: 100%;
    pointer-events: none;
    transition: background .6s;
}

/* closing animation */
#active:checked+.menu-btn span {
    transform: scaleX(0);
}

#active:checked+.menu-btn:before {
    transform: rotate(45deg);
    border-color: #fff;
}

#active:checked+.menu-btn:after {
    transform: rotate(-45deg);
    border-color: #fff;
}

.wrapper ul {
    position: absolute;
    top: 60%;
    left: 50%;
    height: 90%;
    transform: translate(-50%, -50%);
    list-style: none;
    text-align: center;
    white-space: nowrap;
}

.wrapper ul li {
    height: 10%;
    margin: 15px 0;
}

.wrapper ul li a {
    text-decoration: none;
    font-size: 30px;
    font-weight: 500;
    padding: 5px 30px;
    color: #fff;
    border-radius: 50px;
    position: absolute;
    line-height: 50px;
    margin: 5px 30px;
    opacity: 0;
    transition: all 0.3s ease;
    transition: transform .6s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.wrapper ul li a:after {
    position: absolute;
    content: "";
    background: #fff;
    /*background: linear-gradient(#14ffe9, #ffeb3b, #ff00e0);*/
    /*background: linear-gradient(375deg, #1cc7d0, #2ede98);*/
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: 50px;
    transform: scaleY(0);
    z-index: -1;
    transition: transform 0.3s ease;
}

.wrapper ul li a:hover:after {
    transform: scaleY(1);
}

.wrapper ul li a:hover {
    color: #FF5C00;
}

input[type="checkbox"] {
    display: none;
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    text-align: center;
    width: 100%;
    color: #ffffff;
}

.content .title {
    font-size: 40px;
    font-weight: 700;
}

.content p {
    font-size: 35px;
    font-weight: 600;
}

#active:checked~.wrapper ul li a {
    opacity: 1;
}

.wrapper ul li a {
    transition: opacity 1.2s, transform 1.2s cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translateX(100px);
}

#active:checked~.wrapper ul li a {
    transform: none;
    transition-timing-function: ease, cubic-bezier(.1, 1.3, .3, 1);
    /* easeOutBackを緩めた感じ */
    transition-delay: .6s;
    transform: translateX(-100px);
}
/*bg*/
.bg {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: 300% 300%;
    background-image: linear-gradient(-45deg, rgb(243, 135, 46) 0%, rgb(240, 155, 98) 25%, rgb(115, 24, 156) 49%, #3572f7 100%);
    animation: AnimateBG 20s ease infinite;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

@keyframes AnimateBG {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}