/*nav bar*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    font-family: 'Oswald', sans-serif;
}

.wrapper {
    position: fixed;
    top: 0;
    /*left: -100%;*/
    right: -100%;
    height: 100%;
    width: 100%;
    background: #000000;
    /*background: linear-gradient(90deg, #f92c78, #4114a1);*/
    /* background: linear-gradient(375deg, #1cc7d0, #2ede98); */
    /* background: linear-gradient(-45deg, #e3eefe 0%, #efddfb 100%);*/
    transition: all 0.6s ease-in-out;
    z-index: 1;
}

#active:checked~.wrapper {
    /*left: 0;*/
    right: 0;
}

.menu-btn {
    position: absolute;
    z-index: 2;
    right: 20px;
    /*left: 20px; */
    top: 20px;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    font-size: 20px;
    cursor: pointer;
    /*color: #fff;*/
    /*background: linear-gradient(90deg, #f92c78, #4114a1);*/
    /* background: linear-gradient(375deg, #1cc7d0, #2ede98); */
    /* background: linear-gradient(-45deg, #e3eefe 0%, #efddfb 100%); */
    transition: all 0.3s ease-in-out;
}

.menu-btn span,
.menu-btn:before,
.menu-btn:after {
    content: "";
    position: absolute;
    top: calc(50% - 1px);
    left: 30%;
    width: 40%;
    border-bottom: 2px solid #ffffff;
    transition: transform .6s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.menu-btn:before {
    transform: translateY(-8px);
}

.menu-btn:after {
    transform: translateY(8px);
}


.close {
    z-index: 1;
    width: 100%;
    height: 100%;
    pointer-events: none;
    transition: background .6s;
}

/* closing animation */
#active:checked+.menu-btn span {
    transform: scaleX(0);
}

#active:checked+.menu-btn:before {
    transform: rotate(45deg);
    border-color: #fff;
}

#active:checked+.menu-btn:after {
    transform: rotate(-45deg);
    border-color: #fff;
}

.wrapper ul {
    position: absolute;
    top: 60%;
    left: 50%;
    height: 90%;
    transform: translate(-50%, -50%);
    list-style: none;
    text-align: center;
        white-space: nowrap;
}

.wrapper ul li {
    height: 10%;
    margin: 15px 0;
}

.wrapper ul li a {
    text-decoration: none;
    font-size: 30px;
    font-weight: 500;
    padding: 5px 30px;
    color: #fff;
    border-radius: 50px;
    position: absolute;
    line-height: 50px;
    margin: 5px 30px;
    opacity: 0;
    transition: all 0.3s ease;
    transition: transform .6s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.wrapper ul li a:after {
    position: absolute;
    content: "";
    background: #fff;
    /*background: linear-gradient(#14ffe9, #ffeb3b, #ff00e0);*/
    /*background: linear-gradient(375deg, #1cc7d0, #2ede98);*/
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: 50px;
    transform: scaleY(0);
    z-index: -1;
    transition: transform 0.3s ease;
}

.wrapper ul li a:hover:after {
    transform: scaleY(1);
}

.wrapper ul li a:hover {
    color: #FF5C00;
}

input[type="checkbox"] {
    display: none;
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    text-align: center;
    width: 100%;
    color: #ffffff;
    font-size: 50px;
}

.content .title {
    font-size: 40px;
    font-weight: 700;
}

.content p {
    font-size: 40px;
    font-weight: 600;
}

#active:checked~.wrapper ul li a {
    opacity: 1;
}

.wrapper ul li a {
    transition: opacity 1.2s, transform 1.2s cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translateX(100px);
}

#active:checked~.wrapper ul li a {
    transform: none;
    transition-timing-function: ease, cubic-bezier(.1, 1.3, .3, 1);
    /* easeOutBackを緩めた感じ */
    transition-delay: .6s;
    transform: translateX(-100px);
}

/*title*/
.animate-charcter {
    text-transform: uppercase;
    background-image: linear-gradient(-225deg, #FF9E00 0%, #44107a 29%, #ff1361 67%, #FF5C00 100%);
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2s linear infinite;
    display: inline-block;
    font-size: 30px;
    /* padding: 100px; */
    text-align: justify;
    white-space: nowrap;
}

@keyframes textclip {
    to {
        background-position: 200% center;
    }
}

.title-container {
    display: inline-block;
    justify-content: space-evenly;
    align-items: justify;
    padding: 20px;
    position: absolute;
    left: 20px;
    top: 0px;
    overflow: hidden;
}

/*background*/
body {
    background-image: url('file:///E:/ROYAL%20EXOTIC%20CARS/poze/rolls-background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

html,
body {
    height: 125%;
}

/* gradient */
body {
    background-image: url('file:///E:/ROYAL%20EXOTIC%20CARS/poze/rolls-background.jpg'), linear-gradient(to bottom, rgba(32, 32, 37, 0.3) 20%, rgba(235, 130, 32, 0.3) 100%);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

p {
    display: block;
    margin-top: 3em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    position: center;
}

/*testimoniale*/


/*text*/
.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: #ffffff;
}

.column1 {
    font-family: 'Lato', sans-serif;
    font-family: 'Oswald', sans-serif;
    margin-top: 230px;
}



.row:after {
    content: "";
    display: inline-flex;
    clear: both;
    margin: 25px;
}

/*search bar*/

/*content*/

#p1 {
        font-family: 'Oswald', sans-serif;
        display: table-cell;
        border: 2px solid #44107a;
        border-radius: 30px;
        padding: 20px;
background-image: linear-gradient(-225deg,
            #ffffff 10%,
            #b378f1 29%,
            #e7cfaf 67%,
            #b3b1b1 100%);
            background-size: auto auto;
                background-clip: border-box;
                background-size: 200% auto;
                text-fill-color: transparent;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    animation: textclip 2s linear infinite;
                    margin-bottom: 10px;
                    font-size: 20px;
}
#p2 {
    font-family: 'Oswald', sans-serif;
    display: table-cell;
    font-size: 20px;
    border-radius: 30px;
    padding: 20px;
    background-image: linear-gradient(-225deg,
            #ffffff 10%,
            #b378f1 29%,
            #e7cfaf 67%,
            #b3b1b1 100%);
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2s linear infinite;
    margin-bottom: 10px;
    margin-top: 50px;
}

.image-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1300px;
    /* Ajustare width  */
    margin: 0 auto;
    /* Centrare container orizontal */
}

.image-container img {
    width: calc(33.33% - 20px);
    /* Ajustare width si margine */
    height: 240px;
    border-radius: 25px;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-right: 5px;
    /* Ajustare margine */
}

/*about*/
.animateab-charcter {
    text-transform: uppercase;
    background-image: linear-gradient(-225deg, #FF9E00 0%, #44107a 29%, #ff1361 67%, #FF5C00 100%);
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2s linear infinite;
    display: flex;
    font-size: 25px;
    /* padding: 100px; */
    white-space: nowrap;
    align-items: center;
    justify-content: center;
    margin-top: 120px;
}

@keyframes textclip {
    to {
        background-position: 200% center;
    }
}

.about-container {
    display: inline-block;
    justify-content: space-evenly;
    align-items: justify;
    padding-left: 780px;
    padding-top: 150px;
    position: absolute;
    left: 20px;
    top: 0px;
    overflow: hidden;
}