/*nav bar*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    
    
}

.wrapper {
    position: fixed;
    top: 0;
    /*left: -100%;*/
    right: -100%;
    height: 100%;
    width: 100%;
    background: #000000;
    /*background: linear-gradient(90deg, #f92c78, #4114a1);*/
    /* background: linear-gradient(375deg, #1cc7d0, #2ede98); */
    /* background: linear-gradient(-45deg, #e3eefe 0%, #efddfb 100%);*/
    transition: all 0.6s ease-in-out;
    z-index: 1;
}

#active:checked~.wrapper {
    /*left: 0;*/
    right: 0;
}

.menu-btn {
    position: absolute;
    z-index: 2;
    right: 20px;
    /*left: 20px; */
    top: 20px;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    font-size: 20px;
    cursor: pointer;
    /*color: #fff;*/
    /*background: linear-gradient(90deg, #f92c78, #4114a1);*/
    /* background: linear-gradient(375deg, #1cc7d0, #2ede98); */
    /* background: linear-gradient(-45deg, #e3eefe 0%, #efddfb 100%); */
    transition: all 0.3s ease-in-out;
   
}

.menu-btn span,
.menu-btn:before,
.menu-btn:after {
    content: "";
    position: absolute;
    top: calc(50% - 1px);
    left: 30%;
    width: 40%;
    border-bottom: 2px solid #ffffff;
    transition: transform .6s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.menu-btn:before {
    transform: translateY(-8px);
}

.menu-btn:after {
    transform: translateY(8px);
}


.close {
    z-index: 1;
    width: 100%;
    height: 100%;
    pointer-events: none;
    transition: background .6s;
}

/* closing animation */
#active:checked+.menu-btn span {
    transform: scaleX(0);
}

#active:checked+.menu-btn:before {
    transform: rotate(45deg);
    border-color: #fff;
}

#active:checked+.menu-btn:after {
    transform: rotate(-45deg);
    border-color: #fff;
}

.wrapper ul {
    position: absolute;
    top: 60%;
    left: 50%;
    height: 90%;
    transform: translate(-50%, -50%);
    list-style: none;
    text-align: center;
    white-space: nowrap;
}

.wrapper ul li {
    height: 10%;
    margin: 15px 0;
}

.wrapper ul li a {
    text-decoration: none;
    font-size: 30px;
    font-weight: 500;
    padding: 5px 30px;
    color: #fff;
    border-radius: 50px;
    position: absolute;
    line-height: 50px;
    margin: 5px 30px;
    opacity: 0;
    transition: all 0.3s ease;
    transition: transform .6s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.wrapper ul li a:after {
    position: absolute;
    content: "";
    background: #fff;
    /*background: linear-gradient(#14ffe9, #ffeb3b, #ff00e0);*/
    /*background: linear-gradient(375deg, #1cc7d0, #2ede98);*/
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: 50px;
    transform: scaleY(0);
    z-index: -1;
    transition: transform 0.3s ease;
}

.wrapper ul li a:hover:after {
    transform: scaleY(1);
}

.wrapper ul li a:hover {
    color: #FF5C00;
}

input[type="checkbox"] {
    display: none;
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    text-align: center;
    width: 100%;
    color: #ffffff;
}

.content .title {
    font-size: 40px;
    font-weight: 700;
}

.content p {
    font-size: 35px;
    font-weight: 600;
}

#active:checked~.wrapper ul li a {
    opacity: 1;
}

.wrapper ul li a {
    transition: opacity 1.2s, transform 1.2s cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translateX(100px);
}

#active:checked~.wrapper ul li a {
    transform: none;
    transition-timing-function: ease, cubic-bezier(.1, 1.3, .3, 1);
    /* easeOutBackを緩めた感じ */
    transition-delay: .6s;
    transform: translateX(-100px);
}
/*title*/
.animate-charcter {
    text-transform: uppercase;
    background-image: linear-gradient(-225deg,
            #FF9E00 0%,
            #44107a 29%,
            #ff1361 67%,
            #FF5C00 100%);
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2s linear infinite;
    display: inline-block;
    font-size: 25px;
   padding: 10px;
    text-align: justify;
    
    white-space: nowrap;
    
}

@keyframes textclip {
    to {
        background-position: 200% center;
    }
}

.title-container {
    display: inline-block;
    justify-content: space-evenly;
    align-items: justify;
    padding: 20px;
    position: absolute;
    left: 20px;
    top: 0px;
overflow: hidden;
}
/*background*/
body {
    background-image: url('file:///E:/ROYAL%20EXOTIC%20CARS/poze/rolls-background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

html,
body {
    height: 110%
    ;
}

/* gradient */
body {
    background-image: url('file:///E:/ROYAL%20EXOTIC%20CARS/poze/rolls-background.jpg'), linear-gradient(to bottom, rgba(32, 32, 37, 0.3) 20%, rgba(235, 130, 32, 0.3) 100%);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

p {
    display: block;
        margin-top: 3em;
        margin-bottom: 1em;
        margin-left: 0;
        margin-right: 0;
        position: center
        ;
}

/*testimoniale schimbat index pt nav bar*/
#content {
    max-width: 500px;
    position: fixed;
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 20px;
    z-index: 0;
}

.testimonial-2 blockquote {
    margin: 10px 10px 0;
    background: #FF5C00;
    padding: 20px 60px;
    position: relative;
    border: none;
    border-radius: 8px;
    font-style: italic;
}

.testimonial-2 blockquote:before,
.testimonial-2 blockquote:after {
    content: "\201C";
    position: absolute;
    font-size: 80px;
    line-height: 1;
    color: #000000;
    font-style: normal;
}

.testimonial-2 blockquote:before {
    top: 0;
    left: 10px;
}

.testimonial-2 blockquote:after {
    content: "\201D";
    right: 10px;
    bottom: -0.5em;
}

.testimonial-2 div {
    width: 0;
    height: 0;
    border-left: 0 solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid #efefef;
    margin: 0 0 0 60px;
}

.testimonial-2 p {
    margin: 8px 0 0 20px;
    text-align: left;
    color: #fff;
}
/*t1 modificat in inspect*/
#content2 {
    max-width: 928px;
    position: fixed;
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 20px;
    z-index: -1;
    display: flex;
    align-content: space-between;
    align-items: stretch;
    overflow: hidden;
}

.testimonial-1 blockquote {
    margin: 10px 10px 0;
    background: #FF5C00;
    padding: 20px 60px;
    position: relative;
    border: none;
    border-radius: 8px;
    font-style: italic;
    overflow: hidden;
}

.testimonial-1 blockquote:before,
.testimonial-1 blockquote:after {
    content: "\201C";
    position: absolute;
    font-size: 80px;
    line-height: 1;
    color: #000000;
    font-style: normal;
}

.testimonial-1 blockquote:before {
    top: 0;
    left: 10px;
}

.testimonial-1 blockquote:after {
    content: "\201D";
    right: 10px;
    bottom: -0.5em;
}

.testimonial-1 div {
    width: 0;
    height: 0;
    border-left: 0 solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid #efefef;
    margin: 0 0 0 60px;
}

.testimonial-1 p {
    margin: 8px 0 0 20px;
    text-align: left;
    color: #fff;
}
/*text*/
.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: #ffffff;
}

.column1 {
    font-family: 'Lato', sans-serif;
    font-family: 'Oswald', sans-serif;
    margin-top: 20px;
}

.column2 {
    color: #ffffff;
    position: fixed;
    bottom: 395px;
    left: 10px;
    text-align: left;
    font-size: 20px;
    text-shadow: 1px 1px 0 #000000, 1px 1px 0 #000000, 1px 1px 0 #000000, 1px 1px 0 #000000;
}
.row:after {
    content: "";
    display: inline-flex;
    clear: both;
    margin: 25px;
}
/*search bar*/

/*columns*/
.column-1{
float: left;
width: 50%;
text-align: left;
}
.row:after{
    content: "";
    display: table;
    clear: both;
}
#p1 {
    font-family: 'Oswald', sans-serif;
    /* display: table-cell; */
    border: 2px solid #44107a;
    border-radius: 30px;
    padding: 20px;
    background-image: linear-gradient(-225deg, #ffffff 10%, #b378f1 29%, #e7cfaf 67%, #b3b1b1 100%);
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2s linear infinite;
    margin-bottom: 10px;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 350px;
}

#p2 {
    font-family: 'Oswald', sans-serif;
    display: table-cell;
    font-size: 20px;
    border-radius: 30px;
    padding: 20px;
    background-image: linear-gradient(-225deg,
            #ffffff 10%,
            #b378f1 29%,
            #e7cfaf 67%,
            #b3b1b1 100%);
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2s linear infinite;
    margin-bottom: 10px;
    margin-top: 50px;
}
.animatent-charcter {
    text-transform: uppercase;
    background-image: linear-gradient(-225deg, #FF9E00 0%, #44107a 29%, #ff1361 67%, #FF5C00 100%);
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2s linear infinite;
    display: flex;
    font-size: 25px;
    /* padding: 100px; */
    white-space: nowrap;
    align-items: center;
    justify-content: center;
    margin-top: -310px;
}

@keyframes textclip {
    to {
        background-position: 200% center;
    }
}

.about-container {
    display: inline-block;
    justify-content: space-evenly;
    align-items: justify;
    padding-left: 780px;
    padding-top: 150px;
    position: absolute;
    left: 20px;
    top: 0px;
    overflow: hidden;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    font-family: 'Oswald', sans-serif;
    z-index: 1;
}
/*google maps*/
.maps {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1300px;
    margin: 0 auto;
    z-index: 1;
}

.maps img {
    height: 240px;
    border-radius: 25px;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: auto;
    /* Move the photo to the right */
    margin-right: 5px;
}
/*logo*/
.image-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1300px;
    /* Ajustare width  */
    margin: 0 auto;
    /* Centrare container orizontal */
}

.image-container img {
    width: 200px;
    height: 200px;
    border-radius: 25px;
    margin-bottom: 625px;
    /* margin-top: 350px; */
    margin-left: 828px;
}